{% load static %}
{% include "doctor/dashboard.html" %}
{% block content %}

<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Danh sách bệnh nhân</h3>

				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<div class="table-responsive">
								<table class="datatable table table-hover table-center mb-0">
									<thead>
										<tr>
											<th>Số thứ tự</th>
											<th>Tên bệnh nhân</th>
											<th>Số lần khám</th>
											<th>Số điện thoại</th>
											<!-- <th>Lần khám cuối</th> -->
											<th class="text-right">Đã thanh toán</th>
										</tr>
									</thead>
									<tbody>
										{% for p in patient_stats %}
										<tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ p.full_name }}</td>
											<td>{{ p.phone_number }}</td>
											<td>{{ p.total }}</td>
											<td>{{ p.total_price_vnd }}</td>
										</tr>
										{% empty %}
										<tr>
											<td colspan="5">Chưa có bệnh nhân</td>
										</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /Page Wrapper -->
{%endblock%}